
.order-new h1 {
  text-align: center;
}

.content {
  margin-top: 50px;
}

#root > div > div.container > div > div:nth-child(2) > div > div {
  width: 60%;
  margin: 0 auto;
}

#root > div > div.container > div > div:nth-child(2) > h1 {
  margin-bottom: 100px;
}